build/
*~
.DS_Store
compile_commands.json
/build
.github/
std.o
build_output.txt
*.o
*.obj
*.so
*.dylib
*.dll
*.log
*.tmp
*.swp
*.swo
*.bak
*.backup
*.orig
*.rej
*.class
.cache/
build*.txt
gcm.cache/terminal.ansi.color.gcm
gcm.cache/terminal.sgr.param.gcm
